/* src/App.css */
.task-board {
    margin-top: 30px;
    display: flex;
    gap: 20px;
    padding: 20px;
  }
  
  .task-column-container {
    flex: 1;
  }
  
  .task-column {
    border: 2px solid #ccc;
    padding: 10px;
    border-radius: 8px;
  }
  
  .task-card {
    background: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .task-card h3 {
    margin: 0;
  }
  
  .buttons button {
    margin-top: 10px;
  }
  